@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Parisienne&display=swap');

//breakpoints
$bp-medium: 730px;
$bp-large: 1000px;

//colors
$col-purple: #9345ec;
$col-red: #e20909;
$col-lightgray: #e3d1f8;
$col-card: #ad9ac2;
$col-button: #460257;

//others
$shadow: rgba(0,0,0,0.35) 0 5px 5px;
$text-shadow: 1px 1px 2px hotpink, 0 0 1em hotpink, 0 0 0.2em hotpink;

//fonts
$font-logo: 'Parisienne', cursive; 
$font-header: 'ADLaM Display', cursive;
